body{
	margin:0;
	font-family:Helvetica;
}
#baner-lewy, #lewy{
	float:left;
	background-color:rgb(130,69,85);
	color:white;
	width:30%;
	height:200px;
	text-align:center;
}
#baner-prawy, #prawy{
	float:right;
	background-color:rgb(130,69,85);
	color:white;
	width:70%;
	height:200px;
	text-align:center;
}
#główny, #stopka{
	background-color:rgb(240,234,226);
	padding:120px;
}
table, td{
	border:1px solid rgb(130,69,85);
	color:rgb(130,69,85);
	padding:10px;
}
a{
	color:rgb(240,234,226);
}